<div class="flex-desktop">
  <div class="first">
    <div class="blueShape"></div>
    <div class="illustration">
    <app-illustration-features-tab-2-svg class="hero"></app-illustration-features-tab-2-svg>
    </div>
  </div>

  <div class="text">
  <h3 class="title">
    Intelligent search
  </h3>
  <p class="description">
    Our powerful search feauture will help you find saved sites in no time at all.
    No need to trawl through all of your bookmarks.
  </p>
  <div class="button">
    <button class="chrome">More info</button>
  </div>
  </div>
</div>
