<div class="change-container">
  <div>
    <div class="blueShape"></div>
    <div class="illustration">
      <app-illustration-hero-svg class="hero"></app-illustration-hero-svg>
    </div>
  </div>
  <div class="text">
    <h1 class="title">A Simple Bookmark Menager</h1>
    <p class="description">
      A clean and simple interface to organize your favourite websites.
      Open a new browser tab and see your sites load instantly. Try it for free.
    </p>
    <div class="buttons">
      <button class="chrome"> Get it on Chrome</button>
      <button class="firefox">Get it on Firefox</button>
    </div>
  </div>
</div>
