
<div class="features">
<h2 class="title">Features</h2>
<p class="description">
  Our aim is to make it quick and easy for you to access your favorite websites.
  Your bookmarks sync between your devices so you can access them on the go.
</p>
<hr class="none-desktop">
<div class="flex-desktop">
  <div>
<button class="simple" (click)="simpleBookmarks()">Simple Bookmarks</button>
<hr class="hr-red" *ngIf="choice==='simple bookmarks'">
<hr [className]="desktop1">
</div>
<div>
<button class="simple" (click)="speedySearching()">Speedy Searching</button>
<hr class="hr-red" *ngIf="choice==='speedy searching'">
<hr>
</div>
<div>
<button class="simple" (click)="easyScharing()">Easy Scharing</button>
<hr class="hr-red" *ngIf="choice==='easy scharing'">
<hr>
</div>
</div>
</div>
<ng-container *ngIf="choice==='simple bookmarks'">
<app-bookmark-in-one-click ></app-bookmark-in-one-click>
</ng-container>
<app-speedy-searching *ngIf="choice==='speedy searching'"></app-speedy-searching>

<app-easy-scharing *ngIf="choice==='easy scharing'"></app-easy-scharing>
