.description {
  padding-bottom: 20px;
}

hr {
  width: 95%;
  margin: 0 auto;
}

.simple {
  text-align: center;
  margin: 20px auto;
  font-weight: 400;
  cursor: pointer;
}

.hr-red {
  border: solid 2px hsl(0, 94%, 66%);
  width: 60%;
  margin: 0 auto;
}

.features {
  margin-bottom: 100px;
}

@media screen and (min-width: 1000px) and (min-height:500px){
  .flex-desktop {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  hr {
    width:100%;
  }

  .simple {
    padding: 0 40px;
    font-size: smaller;
    border: none;
    background-color: white;
  }

  .simple:hover {
    color:hsl(0, 94%, 66%);
  }

  .hr-red{
    width: 100%;
  }

  .none-desktop {
    display: none;
  }

  .description {
    width: 80%;
  }

  .features {
    width: 50%;
    margin: 100px auto;
  }
}
