<div class="features">
<h2 class="title">Features</h2>
<p class="description">
  Our aim is to make it quick and easy for you to access your favorite websites.
  Your bookmarks sync between your devices so you can access them on the go.
</p>
<hr class="none-desktop">
<div class="flex-desktop">
  <div>
<h3 class="simple" (click)="simpleBookmarks()">Simple Bookmarks</h3>
<hr class="hr-red" *ngIf="choice==='simple bookmarks'">
<hr class="none-desktop">
</div>
<div>
<h3 class="simple" (click)="speedySearching()">Speedy Searching</h3>
<hr class="hr-red" *ngIf="choice==='speedy searching'">
<hr>
</div>
<div>
<h3 class="simple" (click)="easyScharing()">Easy Scharing</h3>
<hr class="hr-red" *ngIf="choice==='easy scharing'">
<hr>
</div>
</div>
</div>
<ng-container *ngIf="choice==='simple bookmarks'">
<app-bookmark-in-one-click></app-bookmark-in-one-click>
</ng-container>
