<div class="flex-desktop">
  <div>
    <div class="blueShape"></div>
    <div class="illustration">
    <app-illustration-features-tab-3-svg class="hero"></app-illustration-features-tab-3-svg>
    </div>
  </div>

  <div class="text">
  <h2 class="title">
    Share your bookmarks
  </h2>
  <p class="description">
    Easily share your bookmarks and collections with others.
    Create a shareable link that you can send at the click of a button.
  </p>
  <div class="button">
    <button class="chrome">More info</button>
  </div>
  </div>
</div>
