.description {
  padding-bottom: 20px;
}

hr {
  width: 95%;
  margin: 0 auto;
}

.question-answer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.question-arrow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 10px;
  padding: 0 10px;
}

.question-arrow .answer {
  display: none;
}

.question-clicked .answer {
  display: block;
}

.question-clicked .svg {
  color: hsl(0, 94%, 66%);
  transform: rotate(180deg);
}

.question {
  font-weight: 400;
}

.question-arrow:hover {
  color: hsl(0, 94%, 66%);
}

.svg {
  color: #5267DF;
}

.answer {
  display: none;
  color: hsl(229, 8%, 60%);
}

.chrome {
  width:fit-content;
  margin: auto;
}

.center {
  display: flex;
  justify-content: center;
  padding: 20px 0;
}

@media screen and (min-width: 1000px) and (min-height:500px){
  .description {
    width: 80%;
  }
}


