<h2 class="title">Frequently asked question</h2>
<p class="description">
 Here are some our FAQs. If you have any other questions you'd like answered please
 feel free to e-mail us.
</p>
<hr>
<a class="question-answer" appQuestion>
  <div class="question-arrow">
    <p class="question">What is bookmark?</p>
    <app-icon-arrow-svg class="svg"></app-icon-arrow-svg>
  </div>
  <p class="answer question-arrow">Some answer</p>
</a>
<hr>
<a class="question-answer" appQuestion>
  <div class="question-arrow">
    <p class="question">How can I request a new browser?</p>
    <app-icon-arrow-svg class="svg"></app-icon-arrow-svg>
  </div>
  <p class="answer question-arrow">Some answer</p>
</a>
<hr>
<a class="question-answer" appQuestion>
  <div class="question-arrow">
    <p class="question">Is there a mobile app?</p>
    <app-icon-arrow-svg class="svg"></app-icon-arrow-svg>
  </div>
  <p class="answer question-arrow">Some answer</p>
</a>
<hr>
<a class="question-answer" appQuestion>
  <div class="question-arrow">
    <p class="question">What about other Chromium browsers?</p>
    <app-icon-arrow-svg class="svg"></app-icon-arrow-svg>
  </div>
  <p class="answer question-arrow">Some answer</p>
</a>
<hr>
<div class="center">
  <button class="chrome">More info</button>
</div>
