.page {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 50px 20px;
  margin: 0;
}

.logo-heaader {
  color:#242A45;
}

.bookmark {
  padding:0;
  margin:0;
}

.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: hsl(229, 31%, 21%);
  padding: 30px 0;
}

.footer-menu {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo-footer {
 color:white;
 margin: 20px auto;
}

.ahref {
  color:white;
  margin: 20px auto;
}

.social {
  width:fit-content;
  display: flex;
  align-items: center;
  gap: 50px;
  padding-top: 20px;
}

.inside {
  display: flex;
  flex-direction: column;
  margin:0;
  gap:80px;
}

app-menu-hamburger, app-modal {
  position:fixed;
  right:0;
  top:0;
  z-index: 3;
}

.menu-desktop {
  display: none;
}

a:hover {
  color: hsl(0, 94%, 66%);
}

@media screen and (min-width: 1000px) and (min-height:500px){
  .icon-hamburger {
    display: none;
  }

  .menu-desktop {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 30px;
    width:fit-content;
  }

  .margin-desktop {
    margin: 0 100px;
  }

  .login {
    background-color: hsl(0, 94%, 66%);
    padding: 10px 20px;
    color:white;
    border: none;
    border-radius: 5px;
    font-weight: 500;
  }

  .login:hover {
    background-color: white;
    padding: 9px 19px;
    color:hsl(0, 94%, 66%);
    border: 1px solid hsl(0, 94%, 66%);
  }

  .width-desktop {
    width: 50%;
    margin: auto;
  }

  .footer {
    flex-direction: row;
    justify-content: space-between;
    padding: 5px 0;
  }

  .footer-menu {
    flex-direction: row;
    justify-content: left;
    width:fit-content;
    gap:30px;
    padding: 0 100px;
    align-items: center;
  }

  .ahref {
    margin: auto;
    font-size: smaller;
  }

  .social {
    padding: 0 100px;
  }
}
