<div class="page">
  <div class="header margin-desktop">
    <app-logo-bookmark-svg class="logo-header margin-desktop"></app-logo-bookmark-svg>
    <app-icon-hamburger-svg class="icon-hamburger" (click)="menu.menu()"></app-icon-hamburger-svg>
    <div class="menu-desktop">
      <a>FEATURES</a>
      <a>PRICING</a>
      <a>CONTACT</a>
      <button class="login"><a>LOGIN</a></button>
    </div>
  </div>
  <app-menu-hamburger #menu></app-menu-hamburger>
  <div class="inside">
    <app-simple-bookmark class="bookmark"></app-simple-bookmark>
    <app-features class="bookmark width-desktop"></app-features>
    <app-bookmark-in-one-click class="bookmark"></app-bookmark-in-one-click>
    <app-download-the-extension class="bookmark"></app-download-the-extension>
    <app-frequently-asked-question class="bookmark width-desktop"></app-frequently-asked-question>
    <app-stay-up-to-date class="bookmark"></app-stay-up-to-date>
  </div>
  <div class="footer">
    <app-logo-bookmark-svg class="logo-footer"></app-logo-bookmark-svg>
    <a class="ahref">FEATURES</a>
    <a class="ahref">PRICING</a>
    <a class="ahref">CONTACT</a>
    <div class="social">
      <a><app-icon-facebook-svg></app-icon-facebook-svg></a>
      <a><app-icon-twitter-svg></app-icon-twitter-svg></a>
    </div>
  </div></div>
<router-outlet></router-outlet>
