<div class="popup-show" [hidden]="hidden | async">
  <div class="popup-menu">
    <div class="header">
      <app-logo-bookmark-svg class="logo-bookmark-menu"></app-logo-bookmark-svg>
      <button
        class="close"
        (click)="close()"
        aria-label="close menu"
        title="close menu"
      >
        <app-icon-close-svg [attr.fill]="'white'" class="svg-close"></app-icon-close-svg>
      </button>
    </div>
    <nav class="footer">
        <hr>
        <a class="ahref">FEATURES</a>
        <hr>
        <a class="ahref">PRICING</a>
        <hr>
        <a class="ahref">CONTACT</a>
        <hr>
        <div class="social">
          <a><app-icon-facebook-svg></app-icon-facebook-svg></a>
          <a><app-icon-twitter-svg></app-icon-twitter-svg></a>
        </div>

    </nav>
  </div>
</div>
