.background {
  background-color: hsl(231, 69%, 60%);
  padding: 50px 0;
  width: 100%;
}

.title {
  width:100%;
  margin: auto;
  font-weight: 500;
  text-align: center;
  margin-bottom: 20px;
  color: white;
}

.email {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
}

.input {
  width:286px;
  border: none;
  border-radius: 5px;
  height: 50px;
  padding: 0 8px;
}

.contact {
  background-color: hsl(0, 94%, 66%);
  color: white;
  font-weight: 500;
  font-size: 18px;
  margin: auto;
  width:300px;
  border: none;
  border-radius: 5px;
  height: 50px;
}

.contact:hover {
  background-color: white;
  color:hsl(0, 94%, 66%);
  border: 1px solid hsl(0, 94%, 66%);
}

.input-info {
  display: flex;
  flex-direction: column;
  gap: 0;
  justify-content: center;
  width: 300px;
  margin: auto;
  border-radius: 5px;
}

.errors {
  width: 300px;
  height: 15px;
}

.input-error {
  border: 2px solid hsl(0, 94%, 66%);
  background-color: hsl(0, 94%, 66%);
  width:302px;
}

.mistake {
  background-color: hsl(0, 94%, 66%);
  color: white;
  font-size:x-small;
  font-style: italic;
  border-radius: 5px;
  border: 2px solid hsl(0, 94%, 66%);
}

@media screen and (min-width: 700px) and (min-height:500px){
  .width-desktop {
    width: 30%;
    margin: auto;
  }

  .email {
    flex-direction: row;
    justify-content: space-between;
  }

  .input, .errors {
    width: 230px;
  }

  .input-info{
    width: 246px;
  }

  form {
    display: flex;
    flex-direction: row;
    gap:0;
    align-items: center;
    justify-content: space-between;
  }

  .contact{
    width:50%;
    margin-bottom: 15px;
  }
}
