<div class="background">
  <div class="width-desktop">
    <p class="title">{{ counterDown$ | async }}+ ALREADY JOINED</p>
    <h2 class="title">Stay up-to-date with what we're doing</h2>
    <form [formGroup]="Form" (ngSubmit)="onSubmit()" class="email" >
      <div [className]="isError">
        <fieldset class="fieldset">
          <input class="input" type="email" formControlName="email" placeholder="Enter your e-mail address">
          <app-icon-error-svg class="icon-error"></app-icon-error-svg>
        </fieldset>
        <div class="errors">
          <ng-container *ngIf="Form.get('email')?.errors && Form.get('email')?.touched">
            <div
              class="mistake"
              *ngIf="Form.get('email')?.hasError('required')"
            >
              Email is required
            </div>
            <div
              class="mistake"
              *ngIf="Form.get('email')?.hasError('email')"
            >
              Whoops, make sure it's an email
            </div>
          </ng-container>
        </div>
      </div>
      <button class="contact" type="submit">Contact Us</button>
    </form>
  </div>
</div>
