<h2 class="title">
  Download the extension
</h2>
<p class="description">
  We've got more browsers in pipeline.
  Please do leta us know if you've got a favorite you'd like us to prioritize.
</p>
<div class="flex-desktop">
<div class="browser up">
  <app-logo-chrome-svg class="logo-browser"></app-logo-chrome-svg>
  <h3 class="title-add">Add to Chrome</h3>
  <p class="description">Minimum version 62</p>
  <app-bg-dots-svg class="logo-browser"></app-bg-dots-svg>
  <button class="chrome">Add & Install Extension</button>
</div>
<div class="browser">
  <app-logo-firefox-svg class="logo-browser"></app-logo-firefox-svg>
  <h3 class="title-add">Add to Firefox</h3>
  <p class="description">Minimum version 55</p>
  <app-bg-dots-svg class="logo-browser"></app-bg-dots-svg>
  <button class="chrome">Add & Install Extension</button>
</div>
<div class="browser down">
  <app-logo-opera-svg class="logo-browser"></app-logo-opera-svg>
  <h3 class="title-add">Add to Opera</h3>
  <p class="description">Minimum version 46</p>
  <app-bg-dots-svg class="logo-browser"></app-bg-dots-svg>
  <button class="chrome">Add & Install Extension</button>
</div>
</div>
