/* You can add global styles to this file, and also import other style files */
body{
  font-size: 18px;
  font-family: 'Rubik', sans-serif;
  box-sizing: border-box;
  margin:0;
  padding: 0;
}

button:hover, a:hover {
cursor: pointer;
}

app-icon-facebook-svg, app-icon-twitter-svg {
  color: #FFF;
}

app-icon-facebook-svg:hover, app-icon-twitter-svg:hover {
  color: hsl(0, 94%, 66%);
}

