<div class="flex-desktop">
  <div>
    <div class="blueShape"></div>
    <div class="illustration">
    <app-illustration-features-tab-1-svg class="hero"></app-illustration-features-tab-1-svg>
    </div>
  </div>

  <div class="text">
    <h2 class="title">
      Bookmark in one click
    </h2>
    <p class="description">
      Organize your bookmarks however you like.
      Our simple drag-and-drop interface gives you complete control over how you manage your favorite sites.
    </p>
    <div class="button">
      <button class="chrome">More info</button>
    </div>
  </div>
</div>
